/* 
    Created on : 19.05.2021, 20:38:48
    Author     : Амалия Волощук
*/

.form {
  display: flex
}

.form__field {
  flex: 1
}

body {
  background: #ececec;
  color: rgba(0,0,0,0.6);
  font-size: 0.98em;
}

.form__item {
  background: rgba(0,0,0,0.25);
  color: #fff;
  border: 0;
  padding: 10px;
  margin: 0
}

.form {
  padding: 10px
}

.form__field {
  margin: 0;
}